My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "afedf537-0595-4add-9c45-7f9d0e969e0e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.groqApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"أعطني حكمة يومية قصيرة وملهمة باللغة العربية. الحكمة لا تزيد عن سطرين. اكتب الحكمة فقط بدون مقدمة.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "d7f75889-a471-4153-83bd-4e2f6f53c7f1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "1186340085",
        "text": "=🌟 حكمة اليوم  {{ $json.choices[0].message.content }}  ━━━━━━━━━━ صباح النور ☀️",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "eca075f8-438a-4980-8bb8-0f01d708989d",
      "name": "Send a text message",
      "webhookId": "d49da0c8-20b5-4a98-ae02-18f376cc6948",
      "credentials": {
        "telegramApi": {
          "id": "Wh8DozNdNFvoYSYO",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2980b321-8ecc-4d61-bc16-1b0d102ac8a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf1b47a16c6344e83337d02fdd2f21c5b2d296b16918a6a0f5f89a574823c660"
  },
  "id": "vUqTYisfihzQCnJY",
  "tags": []
}